<a href="https://colab.research.google.com/github/mirozy13/Machine-learning/blob/main/bupa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [10]:
%%capture
!wget https://www.dropbox.com/s/yphjpb2sph9vf35/bupa.csv

In [11]:
names = ['Mcv','Alkphos','Sgpt','Sgot','Gammagt','Drinks','Selector']
data = pd.read_csv("bupa.csv",names = names)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Mcv       345 non-null    float64
 1   Alkphos   345 non-null    float64
 2   Sgpt      345 non-null    float64
 3   Sgot      345 non-null    float64
 4   Gammagt   345 non-null    float64
 5   Drinks    345 non-null    float64
 6   Selector  345 non-null    int64
dtypes: float64(6), int64(1)
memory usage: 19.0 KB

In [12]:
data.drop(labels = [0,1,2,3,4,5,6,7,8,9,10,11],axis = 0, inplace = True)

In [13]:
data

      Mcv  Alkphos  Sgpt  Sgot  Gammagt  Drinks  Selector
12   96.0     67.0  29.0  20.0     11.0     0.5         1
13   91.0     78.0  20.0  31.0     18.0     0.5         1
14   89.0     67.0  23.0  16.0     10.0     0.5         1
15   89.0     79.0  17.0  17.0     16.0     0.5         1
16   91.0    107.0  20.0  20.0     56.0     0.5         1
..    ...      ...   ...   ...      ...     ...       ...
340  91.0     54.0  25.0  22.0     35.0     4.0         1
341  89.0     48.0  32.0  22.0     14.0     4.0         2
342  85.0     52.0  22.0  23.0     34.0     4.0         2
343  95.0     93.0  21.0  27.0     47.0     6.0         2
344  91.0     93.0  35.0  34.0     37.0    10.0         2

[333 rows x 7 columns]

In [14]:
data.isnull().sum()

Mcv         0
Alkphos     0
Sgpt        0
Sgot        0
Gammagt     0
Drinks      0
Selector    0
dtype: int64

In [15]:
data['Selector'] = data['Selector'].astype (int)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 12 to 344
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Mcv       333 non-null    float64
 1   Alkphos   333 non-null    float64
 2   Sgpt      333 non-null    float64
 3   Sgot      333 non-null    float64
 4   Gammagt   333 non-null    float64
 5   Drinks    333 non-null    float64
 6   Selector  333 non-null    int64
dtypes: float64(6), int64(1)
memory usage: 18.3 KB

In [30]:
y = data['Selector'].to_numpy()
X = data.drop('Selector',1).to_numpy()
print(np.unique(y))

[1 2]

In [36]:
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.svm import SVC
from sklearn.preprocessing import RobustScaler
from imblearn.over_sampling import BorderlineSMOTE
from sklearn.metrics import balanced_accuracy_score

y = data['Selector'].to_numpy()
X = data.drop('Selector',1).to_numpy()
kf = StratifiedKFold(5)
train_accuracies = []
test_accuracies = []
for train_index, test_index in kf.split(X, y):
  X_train = X[train_index]
  X_test = X[test_index]
  y_train = y[train_index]
  y_test = y[test_index]
  oversampler = BorderlineSMOTE()
  X_train, y_train = oversampler.fit_resample(X_train, y_train)
  scaler = RobustScaler()
  X_train = scaler.fit_transform(X_train)
  X_test = scaler.transform(X_test)
  model = SVC()
  model.fit(X_train, y_train)
  y_pred_train = model.predict(X_train)
  y_pred_test = model.predict(X_test)
  balanced_accuracy_tr = balanced_accuracy_score(y_pred_train, y_train)
  balanced_accuracy_ts = balanced_accuracy_score(y_pred_test, y_test)
  train_accuracies.append(balanced_accuracy_tr)
  test_accuracies.append(balanced_accuracy_ts)
print("Обучение:", np.mean(train_accuracies) * 100, "%, Тест:", np.mean(test_accuracies) * 100, '%')

Обучение: 78.43426170517003 %, Тест: 67.32709423145621  %

In [32]:
categorical = [len(np.unique(data[var])) for var in data.columns]

print('Уникальные значения для каждого столбца :\n\n', categorical)

Уникальные значения для каждого столбца :

 [26, 78, 67, 47, 94, 16, 2]

In [33]:
categorical[6]

2

In [37]:
from sklearn.tree import DecisionTreeClassifier

y = data['Selector'].to_numpy() 
X = data.drop('Selector',1).to_numpy()
kf = StratifiedKFold(5)
train_accuracies = []
test_accuracies = []
for train_index, test_index in kf.split(X, y):
  X_train = X[train_index]
  X_test = X[test_index]
  y_train = y[train_index]
  y_test = y[test_index]
  oversampler = BorderlineSMOTE()
  X_train, y_train = oversampler.fit_resample(X_train, y_train)
  scaler = RobustScaler()
  X_train = scaler.fit_transform(X_train)
  X_test = scaler.transform(X_test)
  model = DecisionTreeClassifier(ccp_alpha=0.01)
  model.fit(X_train, y_train)
  y_pred_train = model.predict(X_train)
  y_pred_test = model.predict(X_test)
  balanced_accuracy_tr = balanced_accuracy_score(y_pred_train, y_train)
  balanced_accuracy_ts = balanced_accuracy_score(y_pred_test, y_test)
  train_accuracies.append(balanced_accuracy_tr)
  test_accuracies.append(balanced_accuracy_ts)
print(" Обучение:", np.mean(train_accuracies) * 100, "%, Тест:", np.mean(test_accuracies) * 100, '%')

 Обучение: 81.76973643816699 %, Тест: 64.07646697051844 %